@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

body {
    font-family: 'Fjord One', serif;
    font-family: 'Lato', sans-serif;
}

.header-container {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 200px;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.text-container {
    padding-bottom: 30px;
}

.header-title {
    font-size: 30px;
    font-weight: 900;
    margin: 0px;
}

.header-discription,
.featured-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
}

button , .button-2{
    border: 0px;
    background-color: #E55473;
    border-radius: 8px;
    margin-top: 0;
    padding: 10px 20px;
}

.images-container>img {
    width: 100%;
    height: 100%;
}

/* header section end */
.Featured-container {
    margin-top: 150px;
}

.sub-section {
    text-align: center;
}

.subsection-flowers {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 100px;
    gap: 10px;

}

.flower{
    width: 100%;
    height: 250px;
    border-radius: 50% 50% 0px 0px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.flower img{ 
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.flower-1{
    background-color: rgba(167, 33, 98, 0.15);
}
.flower-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.flower-3{
    background-color: rgba(71, 125, 17, 0.15);
}
.flower-Names{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    gap: 10px;
}

.flower-Names .name-title{
    text-decoration: underline;
    margin-top: 10px;
}
.flower-Names .name-1{
    padding-left: 50px;
}
.flower-Names .name-3{
    padding-right: 50px;
}

/* our Delevary sections start */

.section-Number3{
    margin-top: 150px; 
    padding: 0 200px;
}
.sub-container{
    display: flex;
    gap: 20px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.08);
    padding: 20px 50px;
    border-radius: 5px;
    margin-bottom: 150px;
}

.containt-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Dalivery section end */

/* our discount section start */
.discount-containt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.08);
    height: 320px;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 200px;
}
.discount-containt-container img{
    height: 320px;
}

 /* common discriptions style here */
.discount-containt-container .discripstion, .section-Number3-discriptin, .instagram-discriptin, .search-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
}

.discount-containt-container span{
    color: #E55473;
}
/* discount area end  */
.text-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-container .intragram-title{
    margin-bottom: 0;
}
.text-container-2 .instagram-discriptin{
    width: 350px;
    text-align: center;
    margin-top: 0;
}
.images-container-2{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    padding: 0 50px;
    margin-bottom: 200px;
     
}


.images-container-2 .image img{
    width: 100%;
    border-radius: 10px;
   
}


/* section end */
.search-box-section-contaier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #000 url('../images/Rectangle\ 9.png') no-repeat  top center / 100% 300px;
    margin-bottom: 200px;
    border-radius: 10px;
}
.search-title{
    margin-bottom: 0;
}
.search-discription{
    margin: 5px 0px 25px;

}

.search-input-container > input{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    border: 0.05px solid gray;
    margin-right: 10px;
}

/* fotter section start now */

.fotter-section-container{
    border-radius: 10px;
    height: 400px;
    width: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotter-title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}
.span-3{
    color: #E55473;
}
.span-4{
    color: #FFFFFF;
}
.fotter-discription{
    width: 400px;
    text-align: center;
    font-size: 12;
}
.discripstion-1{
    color: white;
    font-size:14px;
}
.discripstion-2{
    font-weight: 100;
    font-size: 10px;
    margin-top: 30px;
}