@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

body {
    font-family: 'Fjord One', serif;
    font-family: 'Lato', sans-serif;
}

.header-container {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 200px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}
.text-container{
    padding-bottom: 30px;
}

.header-title{
    font-size:  30px;
    font-weight: 900;
    margin: 0px;
}
.header-discription{
    color: rgba(39, 39, 39, 0.60);
    margin: 10;
    font-size: 12px;
}

button{
    border: 0px;
    background-color: #E55473;
    border-radius: 8px;
    margin-top: 0;
    padding: 10px 20px ;
}

.images-container > img{
    width: 100%;
    height: 100%;
}